.App {
  text-align: center;
  height: 100vh;
}
.tempText{
  font-weight: bold;
  padding: 0 5px;
}

.glow{
  background-color: rgb(251, 242, 242);
  color: black;
}

.off{
  background-color: black;
  color: white;
}